<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h2><a th:href="@{/create-user}">signUp</a></h2><br>
<h3><a th:href="@{/logout}">Đăng xuất</a></h3>
<h3><a th:href="@{/login}">Đăng nhập</a></h3>
<table class="table table-active" border="1px">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address Details</th>
        <th>Hotline</th>
        <th>Description</th>
        <th>Image</th>
        <th>Province</th>
        <th>User Host</th>
        <th>Action</th>
        <th>Status</th>
    </tr>
    <tr th:each="hotel : ${list}">
        <td th:text="${hotel.id}"></td>
        <td th:text="${hotel.name}"></td>
        <td th:text="${hotel.addressDetails}"></td>
        <td th:text="${hotel.hotline}"></td>
        <td th:text="${hotel.description}"></td>
        <td><a th:href="@{/user/details-hotel/__${hotel.id}__}"><img th:src="${'' + hotel.image}" style="height: 150px;width: 150px"></a></td>
        <td th:text="${hotel.province.name}"></td>
        <td th:text="${hotel.user.getFullName()}"></td>
        <th:block th:if="${userCurrent.roles.size() >= 2}">
            <td>
                <a th:href="@{/admin/edit-hotel/__${hotel.id}__}" class="btn btn-primary">Edit</a>
                <a th:href="@{/admin/delete-hotel/__${hotel.id}__}" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a th:href="@{/admin/delete-hotel/__${hotel.id}__}" class="btn btn-primary">Delele</a>
            </td></th:block>
    </tr>
</table>
</body>
</html>